@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  background-color: #fceff0;
}


h1, h2, h4 {
    color: #6C5B7B;
    font-family: 'Montserrat Alternates', sans-serif;
}

h3 {
    color: #C06C84;
    /* font-size: 16px; */
    font-family: 'Open Sans Condensed', sans-serif;
}

li {
    color: #C06C84;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
}

.card {
  background-color: #d4dce4;
  border-radius: 10px;
  width: 500px;
  margin: 24px auto;
  box-shadow: rgba(53,92,125,0.6) 0px 5px, rgba(53,92,125,0.4) 0px 10px, rgba(53,92,125,0.2) 0px 15px, rgba(53,92,125,0.1) 0px 20px, rgba(53,92,125,0.05) 0px 25px;
  padding: 16px;
  text-align: center;
}

.img-round {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 40%;
}

.list {
  padding: 0;
  list-style: none;
}

.list-inline {
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 48px;
  margin: 0 4px;
  color: #6C5B7B;
}

.list-inline a:hover {
  color: rgba(53,92,125,0.6);
  transition: .7s;
}

.btn-purple {
  background-color: #6C5B7B;
  color: rgb(250,250,250);
  padding: 16px 24px;
  border-radius: 10px;
  display: inline-block;
}

.btn-purple:hover {
  background-color: rgba(53,92,125,0.6);
  transition: .7s;
}
